{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex">
        <div id="info">
            <a href="/">Back</a>
            <div>
                <h2>Authors</h2>
                {{ metadata.author | title }}
                <h2>Rating</h2>
                {% if metadata.rating == 2 %}
                Explicit
                {% elseif metadata.rating == 1 %}
                Questionnable
                {% elseif metadata.rating == 0 %}
                Safe
                {% endif %}
                <h2>Tags</h2>
                {{ metadata.tags.characters.racial_attributes | map(x => "<a href=\"?tag=#{x}\">#{x | title | replace({'_': " "})}</a>") | join("<br>") | raw }}<br>
                {{ metadata.tags.characters.attributes | map(x => "<a href=\"?tag=#{x}\">#{x | title | replace({'_': " "})}</a>") | join("<br>") | raw }}<br>
                {{ metadata.tags.poses | map(x => "<a href=\"?tag=#{x}\">#{x | title | replace({'_': " "})}</a>") | join("<br>") | raw }}<br>
                {{ metadata.tags.clothes | map(x => "<a href=\"?tag=#{x}\">#{x | title | replace({'_': " "})}</a>") | join("<br>") | raw }}<br>
                {{ metadata.tags.sexes | map(x => "<a href=\"?tag=#{x}\">#{x | title | replace({'_': " "})}</a>") | join("<br>") | raw }}<br>
                {{ metadata.tags.others | map(x => "<a href=\"?tag=#{x}\">#{x | title | replace({'_': " "})}</a>") | join("<br>") | raw }}
                {% if metadata.text is not null %}
                <h2>Text</h2>
                {{ metadata.text.content | join("<br>") | raw }}
                {% endif %}
                {% if metadata.comment is not null %}
                <h2>Comment</h2>
                {{ metadata.comment }}
                {% endif %}
            </div>
        </div>
        <div id="image-container">
            <img src="data/images/{{ metadata.id }}.{{ metadata.format }}"/>
        </div>
    </div>
{% endblock %}