{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex">
        <div id="info">
            <a href="/">Back</a>
            <div>
                <h2>Authors</h2>
                {{ metadata.tags_cleaned.authors | map(x => "<a href=\"?tag=#{x.name}\">#{x.name[7:] | title | replace({'_': " "})}</a> (#{x.count})") | join("<br>") | raw }}
                <h2>Characters</h2>
                {{ metadata.tags_cleaned.names | map(x => "<a href=\"?tag=#{x.name}\">#{x.name[5:] | title | replace({'_': " "})}</a> (#{x.count})") | join("<br>") | raw }}
                <h2>Rating</h2>
                {% if metadata.rating == 2 %}
                Explicit
                {% elseif metadata.rating == 1 %}
                Questionnable
                {% elseif metadata.rating == 0 %}
                Safe
                {% endif %}
                <h2>Tags</h2>
                {{ metadata.tags_cleaned.others | map(x => "<a href=\"?tag=#{x.name}\">#{x.name | title | replace({'_': " "})}</a> (#{x.count})") | join("<br>") | raw }}
                {% if metadata.text is not null %}
                <h2>Text</h2>
                {{ metadata.text.content | join("<br>") | raw }}
                {% endif %}
                {% if metadata.comment is not null %}
                <h2>Comment</h2>
                {{ metadata.comment }}
                {% endif %}
            </div>
        </div>
        <div id="image-container">
            <img src="data/images/{{ metadata.id }}.{{ metadata.format }}"/>
        </div>
    </div>
{% endblock %}