{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ tag.name | title | replace({'_': " "}) }}</h2>
    <p>
        {{tag.definition}}
    </p>
    <div id="images-container">
    {% for img in tag.images %}
        <a href="?id={{ img.id }}" class="image">
            <img src="data/thumbnails/{{ img.id }}.{{ img.extension }}"/>
        </a>
    {% endfor %}
    </div>
{% endblock %}