{% extends 'base.html.twig' %}

{% block content %}
    <a href="/">Back</a>
    <h2>{{ name | title | replace({'_': " "}) }}</h2>
    <p>
        {{tag.definition}}
    </p>
    <div id="images-container">
    {% for img in tag.images %}
        <a href="/t/{{ img.id }}" class="image">
            <img src="/data/thumbnails/{{ img.id }}.{{ img.format }}"/>
        </a>
    {% endfor %}
    </div>
{% endblock %}